body{
    background-image: linear-gradient(to top right, rgb(0, 213, 255),rgb(117, 239, 213));
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}
input{
    border-radius: 4px;
    border:1px solid;
    height: 20px;
     
}
.add{
    width: 60px;
    margin-left: 10px;
    color: #888;
    cursor: pointer;
    background-color: #fff;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
}
form{
    margin-left: 20px;
    margin-right: 20px; 
    display: flex;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    
}
.task{
    display: flex;
    background-color: rgba(255,255,255,0.4);
    height: 400px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1.5px solid rgba(0, 89, 255, 0.715);
    padding: 0;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    
}
.task-title{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    border: 2px ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.title{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 4px;
    margin-bottom: 0px;
    cursor: pointer;
}

h3{
    margin-left: 5px;
    margin-right: 5px;
    
}
.active{
    background-color: #fff; 
}

.alltask{
    background-color: white;
    margin-top: 0px;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin:9px;
    margin-top: 0px;
    overflow: scroll;
}
.taskRow{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-bottom: 1.5px solid #8882;
    animation:animate 0.5s 1;
    min-height: 20px;
    word-wrap: break-word;
}
.name{
    max-width: 130px;
}
@keyframes animate{
    0%{
        margin-top: -144px;
    }
    25%{
        margin-top: -122px;
    }
    100%{
        margin-top: 5px;
    }
}
.btndo{
    height: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.btndo:hover{
    opacity: 0.8;
}
.btn{
    display: flex;
    gap:20px;
}
.done{
    background-color: rgb(115, 231, 177);
}
.cancel{
    background-color: rgb(250, 101, 131);
}